<!-- <div class="col-lg-12">
    <h1>{{titulo}}</h1>

    <div *ngIf="alertMessage">
        <div class="alert alert-info">
            {{alertMessage}}
        </div>
    </div> -->

    <!-- <form #formEmployee="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <label>Nombre</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="employee.name" required class="form-control"/>
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio
            </span>
        </p>

        <p>
            <label>Descripción</label>
            <textarea #description="ngModel" name="description" [(ngModel)]="employee.description" required class="form-control"></textarea>
            <span *ngIf="!description.valid && description.touched">
                La descripción es obligatoria
            </span>
        </p>

        <div *ngIf="is_edit">
            <div class="employee_image_for_edit" *ngIf="employee.image && employee.image != 'null'">
                <img src="{{url + 'get-image-employee/' + employee.image}}" />
            </div>

            <p>          
                <label>Sube la imagen del employeea</label>
                <input type="file" placeholder="Subir imagen..."  (change)="fileChangeEvent($event)" />
            </p>
        </div>

        <input type="submit" value="{{titulo}}" [disabled]="!formEmployee.valid" class="btn btn-success"/>
    </form> 
</div> -->


<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>{{titulo}}</mat-card-title>

    <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()" fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-content>
            <mat-form-field>
                <input matInput type="text" placeholder="First Name" formControlName="firstName" id="firstName" [(ngModel)]="this.employee.firstName">
                <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint> -->
                <mat-error *ngIf="hasError('firstName', 'required')">Name is required</mat-error>
                <mat-error *ngIf="hasError('firstName', 'maxlength')">You have more than 60 characters</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="Last Name" formControlName="lastName" id="lastName" [(ngModel)]="this.employee.lastName">
                <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint> -->
                <mat-error *ngIf="hasError('lastName', 'required')">lastName is required</mat-error>
                <mat-error *ngIf="hasError('lastName', 'maxlength')">You have more than 60 characters</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="Designation" formControlName="designation" id="designation" [(ngModel)]="this.employee.designation">
                <mat-error *ngIf="hasError('designation', 'required')">Designation is required</mat-error>
                <mat-error *ngIf="hasError('designation', 'maxlength')">You have more than 100 characters</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Date Of Joining" formControlName="dateOfJoining" id="dateOfBirth" 
                    readonly (click)="picker.open()" [(ngModel)]="this.employee.dateOfJoining">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
                
            <mat-form-field>
                <input matInput type="text" placeholder="Project" formControlName="project" [(ngModel)]="this.employee.project">
                <mat-error *ngIf="hasError('project', 'required')">project is required</mat-error>
                <mat-error *ngIf="hasError('project', 'maxlength')">You have more than 100 characters</mat-error>
            </mat-form-field>

            <mat-slide-toggle formControlName="status" [(ngModel)]="this.employee.status">Status</mat-slide-toggle>


        </mat-card-content>

        <mat-card-actions align="center">
          <button mat-raised-button color="primary" [disabled]="!ownerForm.valid">Create</button>
          <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        </mat-card-actions>
    </form>
    </mat-card>
</section>