<div class="head-page" *ngIf="identity">
    <h1>{{titulo}}</h1>
    <a [routerLink]="['/add-employee']" class="btn btn-default">
        Add New
    </a>
</div>

<div class="clearfix"></div>
<kendo-grid [kendoGridBinding]="employees" [height]="610"
    [pageable]="{
    buttonCount: buttonCount,
    info: info,
    type: type,
    pageSizes: [5, 10, 20],
    previousNext: previousNext
    }"
    [sortable]="true"
    [groupable]="true"
    [filterable]="true"
    [pageSize]="10">
    <kendo-grid-column field="id" title="Id" width="200"></kendo-grid-column>
    <kendo-grid-column field="firstName" title="Name" width="200">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div><p>{{dataItem.firstName}} {{dataItem.lastName}}</p></div>
            <div>{{dataItem.designation}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="project" title="Project" width="220"></kendo-grid-column>
    <kendo-grid-column field="dateOfJoining" title="Date Of Joining" width="220"></kendo-grid-column>
    <kendo-grid-column field="status" title="Status" width="220"></kendo-grid-column>
    <kendo-grid-column title="Action" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
            <a [routerLink]="['/edit-employee/', dataItem.id]" class="btn btn-sm btn-success">
            Edit
            </a>       
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

