<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Synechron!</h1>
      <p class="lead">Employee Manager System</p>
      <hr class="my-4">
      <p>
       C:
      </p>
    </div>
</div>