<div class="col-lg-6">
    <h1>{{titulo}}</h1>

    <div *ngIf="alertMessage">
        <div class="alert alert-info">
           {{alertMessage}}
        </div>
    </div>
    <form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
         <p>
            <label>Nombre</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required/>
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio
            </span>
        </p>
         <p>
            <label>Apellidos</label>
            <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required/>
            <span *ngIf="!surname.valid && surname.touched">
                Los apellidos son obligatorios
            </span>
        </p>
        <p>
            <label>Correo electrónico</label>
            <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" 
            class="form-control" required/>
            <span *ngIf="!email.valid && email.touched">
                El email es obligatorio
            </span>
        </p>

        <div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
            <img src="{{url + 'get-image-user/' + user.image}}" style="width: 50px"/>
        </div>

        <p>
            <label>Sube tu foto</label>
            <input type="file" name="" placeholder="Subir imagen..." (change)="fileChangeEvent($event)"/>
        </p>
       
        <input type="submit" name="" value="Actualizar datos" class="btn btn-primary">
    </form>
</div>

